body {
	background-color: #fff;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 0;
}

.main {
  display: flex;
  flex-grow: 1;
  width: 100%;
  background-color: var(--bg-color);
  padding: 14px 12px 18px;
  margin: 0 auto;
}

.main.white {
  background-color: #fff;
  
  @include breakpoint(md) {
    background-color: var(--bg-color);
  }
}

.main_container {
  background-color: var(--container-color);
  max-width: var(--breakpoint-xl);
  margin: 0 auto;
}