:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  --bg-color: #e7e7e7;
  --container-color: #fff;
  --text-color: #414141;
  --light: #F8FAFD;
  --dark: #343a40;
  
  --font-family-sans-serif: "Raleway","Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif;
}
